.register_container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #333;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #555;
}

/* 註冊成功動畫 */
#success-message {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    z-index: 9999;
    animation: slideUp 1s ease-in-out forwards, fadeOut 2s 1s forwards;
}

@keyframes slideUp {
    0% {
        bottom: -100px;
    }

    100% {
        bottom: 10px;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* 會員基本資料介面 */
#member-info {
    margin-top: 30px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#member-info h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-align: center;
}

.info-item {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.member-info-label {
    display: inline-block;
    width: 120px;
    /* 調整標籤的寬度 */
    font-weight: bold;
}

.member-info-value {
    display: inline-block;
    margin-left: 10px;
}

#complete-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#complete-button:hover {
    background-color: #555;
}